@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.divider {
    height:50px;
}

section {
    height:500px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}

.bg-1 {
	background: url('http://jessyquil.tv/img/hero.jpg') no-repeat center center fixed;
    color:#000;
    background-size:cover;
}
