@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.divider {
    height:50px;
}

section {
    //height:500px;
    padding-top:50px;
    //padding-bottom:50px;
    overflow:auto;
}

.bg-1 {
	background: url('http://jessyquil.tv/img/hero.jpg') no-repeat center center fixed;
    color:#000;
    background-size:cover;
    height: 450px;
    position: fixed;
    z-index: -1;
    width: 100%;
    top: 0;

}

.twitchVideo {
  border: none;
  display: block;
  width: 100%;
  height: 100%;

}

.home-wrapper {
  -webkit-box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.22);
  box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.22);
  margin-top: 450px;
  background-color: #404040;

}

.navbar-default {
  background-color: #507873;
}
.navbar-nav > li > a {
  text-color: #fff;
}

.panel-footer {
  background-color: #a06363;
}

.navbar-text {
    color: #FFF;
}

.panel-default>.panel-heading {
  background-color: #a06363;
}
